<!DOCTYPE html>
{%extends 'testapp/base.html'%}
  {%block body_block%}

   <div class="main">
    <div class="container" align="center">
      <div class="jumbotron">
        <!-- <h1>Welcome to Skill-Mine Job Portal</h1> -->
        <p>Continuous job updates for every Seconds</p>
        <a class="btn btn-primary btn-lg" href="/hydjobs" role="button">Hyderabad Jobs</a> &nbsp&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="/blorejobs" role="button">Bangalore Jobs</a> &nbsp&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="/chennaijobs" role="button">Chennai Jobs</a> &nbsp&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="/punejobs" role="button">Pune Jobs</a>
      </div>

    </div>
  </div>

  {%endblock%}
